.grid_item_icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	transition: background 0.3s;

	&.active {
		background: #2c3e50;
		svg {
			fill: #1abc9c;
		}
	}
}

.icon_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;
}

.icon_img {
	width: 1.5rem;
	height: 1.5rem;
}
