.global {
	@apply bg-coolGray-900 w-screen h-screen;
}
.nome {
	@apply text-3xl;
	font-family: "Lexend", sans-serif;
}

.home_container {
	@apply container mx-auto flex flex-col items-center justify-center;
}

.custom_menu {
	@apply sm:w-6/12 sm:p-5 w-11/12 h-5/6 rounded-xl overflow-y-auto my-0 mx-auto grid place-items-center bg-blueGray-800 	 p-0;

	&::-webkit-scrollbar {
		width: 20px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
}
